# 自定义文件
bookmarks.html
parse_bookmarks.py
favorites_book.yaml

# macOS系统文件
.DS_Store
.AppleDouble
.LSOverride

# 缩略图
._*

# 可能出现在卷根目录中的文件
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# 可能创建的目录
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE文件
.idea/
.vscode/
*.swp
*.swo

# 其他常见的忽略文件
node_modules/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg 